MONGO_URL=mongodb+srv://url
WHITE_LIST=http://localhost:5000,http://abcd.com
JWT_SECRET=SECRET_KEY
CLIENT_DOMAIN=http://localhost:3000
GOOGLE_CLIENT_ID=CLIENT_ID
GOOGLE_CLIENT_SECRET=CLIENT_SECRET
GOOGLE_CALLBACK_URL=http://localhost:5000
ACCESS_KEY_ID=<key>
SECRET_ACCESS_KEY=<key>
AWS_BUCKET_NAME=<bucket-name>
NODEMAILER_PASS=<nodemailer-password>
CAPTCHA_SECRET_KEY=<recaptcha-secret-key>
STRIPE_SECRET_KEY=sk_test_51H9Q2dBVjqmYxKfbN85SSkJEVhUfgzOYkEkOx2GpeYa3DEzrg2ZoNx7EAlm49jeMvKmcojpT4lJsqLkbyywZZKoG002KA75dSE
STRIPE_ENDPOINT_SECRET=whsec_0NywdSppFMckNx0YL1twT21xBoWKG7hk
GOOGLE_API_KEY=<google-api-key>
REDIS_PORT=<redis-db-port>
REDIS_URL=<redis-db-url>
REDIS_PASS=<redis-pass>
PORT=1234